@model CreateQuotesViewModel
@{
    ViewData["Title"] = "Create Author Quotes";
}

<h1>@this.ViewData["Title"]</h1>

<form method="post" asp-action="CreateQuotes" asp-controller="Quotes">
    

    <div class="form-group">
        <label for="Descriptopn">Write quote</label>

        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" asp-for="Description"></textarea>
    </div>

    <div class="input-group mb-3">

        <span class="input-group-text" id="inputGroup-sizing-default" asp-validation-for="Sources">Sources:</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" asp-for="Sources">
    </div>


    <div>

        <input asp-action="CreateQuotes" asp-controller="Quotes" asp-route-authorId="@Model.AuthorId" class="btn" type="submit" value="Add the Quote" style="background-color:blueviolet;" >
    </div>


</form>
